
.battle section article img {
    width: 15rem;
    height: 10rem;
    cursor: pointer;
    margin: 2rem;
    border-radius: 0.2rem;
    border: 2px solid rgb(143, 139, 170);
    object-fit: cover;
}

.battle section {
    display: flex;
    flex-direction: row;
}

.battle {
    display: flex;
    flex-direction: column;
    align-items: center;
}