
.battle img {
    width: 15rem;
    height: 15rem;
    cursor: pointer;
    margin: 2rem;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);
}



.battle .battle-images {
    display: flex;
    flex-direction: row;
}

.battle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.battle article {
    display: flex;
    flex-direction: column;
    align-items: center;
}