.upload form input{
    display: block;
    margin: 0.7rem 0;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    width: 13rem;
}

.upload button {
    font-size: 1rem;
    padding: 0.7rem;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.upload form {
    background-color: #6B7A8F;
    padding: 4rem 3rem;
    border-radius: 0.2rem;
    -webkit-box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);
}

.upload h1 {
    margin: 2rem;
}

.hide {
    display: none;
}

.upload .valid {
    border: 1px solid rgb(77, 153, 77);
}

.upload .invalid {
    border: 1px solid rgb(247, 112, 112);
}

.upload .hide {
    display: none;
}


