.match-result {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 10rem 0;
}

.match-result article li {
    list-style: none;
}

.match-result article ul {
    padding: 0;
    text-align: left;
}

.match-result img {
    width: 5rem;
    height: 5rem;
    margin: 0;
}