
.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

}

.start-page h1 {
    font-size: 3rem;
    margin-bottom: 0;
}
.start-page p {
    text-align: center;
    margin: 0;

}

button {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    border-radius: 0.2rem;
    border: none;
    background-color: rgba(224, 136, 65);
    margin-top: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;    
}

button:hover {
    background-color: rgba(224, 136, 65, 0.76);
}