

.stats h1 {
    text-align: center;
}

.stats .total-games {
    width: 8rem;
    height: 8rem;
    background-color: rgba(224, 136, 65, 0.712);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 1rem;
}

.stats .total-games h2 {
    margin: 0;
    font-size: 2.5rem;
}

.stats .total-games p {
    margin: 0.3rem;
}

.hamster-cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15rem;
}

.hamster-cards img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;

}

.hamster-cards .top-hamsters section, .bottom-hamsters section{
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    border-radius: 5rem;
    margin: 0.5rem;
    width: 20rem;
    padding: 0.2rem;
}

.top-hamsters section, .bottom-hamsters section{
    -webkit-box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 33px -17px rgba(0,0,0,0.75);  
}

.hamster-cards h5, p{
    margin: 0.3rem 0 0 2rem;

}
.hamster-cards h3 {
    text-align: center;
}

.hamster-cards p {
    display: block;
    font-size: 1.2rem;
}

.top-hamsters section article, .bottom-hamsters section article {
    display: flex;
    flex-direction: column;
}