

.stats h1 {
    text-align: center;
}

.stats .total-games {
    width: 10rem;
    height: 10rem;
    background-color: rgba(224, 136, 65, 0.712);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.stats .total-games h2 {
    margin: 0;
    font-size: 2.5rem;
}

.stats .total-games p {
    margin: 0.3rem;
}

.hamster-cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15rem;
}

.hamster-cards img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;

}

.hamster-cards .top-hamsters section, .bottom-hamsters section{
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 233, 233);
    border-radius: 5rem;
    margin: 0.5rem;
    width: 20rem;
    padding: 0.2rem;
}

.hamster-cards h5{
    margin: 0 0 0 2rem;

}

.hamster-cards p {
    display: block;
    font-size: 1.2rem;
}