body {
    background-color: whitesmoke;
    margin: 0;
    height: 100vh;
}

.app-header {
    display: flex;
    width: 100vw;
    height: 3rem;
    justify-content: flex-end;
}

.app-header nav {
    margin-top: 1rem;
}

.app-header a {
    color: white;
    text-decoration: none;
}

.app-header nav a{
    padding: 2rem;
    text-decoration: none;
    color: rgb(66, 67, 87);

}

p, h1, h2, h5, h3, li {
    color: rgb(66, 67, 87);
}