body {
    background-color: rgb(57, 47, 63);
    margin: 0;
    height: 100vh;
}

.app-header {
    display: flex;
    width: 100vw;
    height: 10rem;
    justify-content: flex-end;
    /* align-items: center; */
}

.app-header nav {
    margin-top: 1rem;
}

.app-header nav a{
    padding: 2rem;
    text-decoration: none;
    color: rgb(207, 207, 207);

}

footer {
    height: 10rem;
    width: 100%;
    background-color: grey;
}